.main-message{"data-message_id": "#{message.id}"}
 .main-message__upper-info
  .main-message__upper-info__messenger
   = message.user.name
  .main-message__upper-info__date-time
   = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
 .main-message__text
  - if message.content.present?
   %p.lower-message__content{data: {message: {id: message.id}}}
    = message.content
  = image_tag message.image.url, class: 'main-message__image' if message.image.present?